body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background: $black;
  color: $white;
}

section {  
  line-height: 1.4;
  padding-top: 180px;
  background-image: url('../images/world.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.goup {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background: $blue-base;
  z-index: 999;
  width: 50px;
  display: flex;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: $transition linear;

  &--is-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }

  img {
    width: 20px;
    height: auto;
    transform: rotate(-90deg);
  }
}

::-webkit-input-placeholder {
  color: $gray-lighter;
}
::-moz-placeholder {
  color: $gray-lighter;
}
:-ms-input-placeholder {
  color: $gray-lighter;
}
:-moz-placeholder {
  color: $gray-lighter;
}