.container {
  margin: 0 auto;
  max-width: $container-width;
  width: 90%;

  &--is-large {
    max-width: $container-width-large;
  }
}

.button {
  line-height: 42px;
  background: $blue-base;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  color: $white;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.88px;
  font-family: $font-family-sans;
  border-radius: 999px;
  
  &--is-medium {
    line-height: 56px;    
    padding-left: 35px;
    padding-right: 35px;
    font-size: $font-size-medium;
  }

  &--is-large {
    font-size: $font-size-large;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 75px;

    @media #{$small-and-down} {
      line-height: 55px;
      padding-left: 30px;
      padding-right: 30px;
      font-size: $font-size-medium;
    }
  }
}

.title {  
  color: $white;
  margin-bottom: 40px;
  line-height: 1;
  font-size: $font-size-h1;

  @media #{$medium-and-down} {
    font-size: $font-size-h2;
  }

  @media #{$small-and-down} {
    font-size: $font-size-h3;
    margin-bottom: 20px;
  }
}

.paragraph {
  color: $gray-lighter;
  font-size: $font-size-h3;

  @media #{$medium-and-down} {
    line-height: 1.6;
    font-size: $font-size-medium;
  }
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 200px;
  height: 200px;
  border: 2px dotted $blue-base;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;

  @media #{$medium-and-down} {
    width: 150px;
    height: 150px;

    img {
      max-width: 70px;
    }
  }

  &--is-solid {
    border: 2px solid $blue-base;
    box-shadow: inset 0 5px 10px transparentize($black, 0.5), 0 0 30px transparentize($blue-base, 0.8);
    background: linear-gradient(to bottom, transparentize(#040c16, 0.2) 0%,transparentize(#081838, 0.2) 100%);
  }
}