.footer {
  padding-top: 100px;
  padding-bottom: 40px;
  overflow: hidden;
  position: relative;

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;

    img {
      display: block;

      @media #{$small-and-down} {
        height: 20px;
        width: auto;
      }
    }

    a {
      flex: 1;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    li {
      flex: 1;
      display: flex;
      background: $blue-darker;
      border-right: 2px solid $black;
      transition: $transition;      
      min-height: 70px;

      @media #{$small-and-down} {
        min-height: 60px;
      }

      &:hover {
        background: $blue-base;
      }

      &:last-of-type {
        border-right: none;
      }      
    }
  }

  &__copyright {
    font-size: $font-size-small;
    color: $gray-lighter;
    display: flex;
    align-items: center;

    @media #{$small-and-down} {
      flex-direction: column;
      align-items: flex-start;
    }
    
    p:before {
      content: '|';
      display: inline-block;
      margin: 0 20px;
      
      @media #{$small-and-down} {
        content: '';
        margin: 0px;
      }
    }

    img {
      height: auto;    
      
      @media #{$small-and-down} {
        margin-bottom: 20px;
      }
    }
  }
}
