$guarantees-offset: 100px;

.guarantees {
  text-align: center;
  background-position: -50vw center;

  &__about {
    margin-top: $guarantees-offset;
    margin-bottom: $guarantees-offset;
    justify-content: space-between;
    align-items: flex-start;

    @media #{$small-and-down} {
      align-items: center;
      margin-top: 70px;
      margin-bottom: 100px;
      flex-direction: column;
    }

    h2 {
      font-size: $font-size-large;
      margin-bottom: 10px;          
    }

    .icon-checkmark {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
    }

    .paragraph {
      font-size: $font-size-small;
    }

    .box {
      margin: 0 auto 40px;
      
      @media #{$small-and-down} {
        margin: 0 auto 30px;
      }
    }

    .grid__cell {
      width: 33%;
      max-width: 280px;

      @media #{$small-and-down} {
        width: 100%;
        max-width: 100%;
        margin-bottom: 40px;

        &:last-of-type {
          margin-bottom: 0px;
        }
      }
    }
  }

  &__secured {
    margin: 0 auto;    
    padding-bottom: 30px;    
    max-width: $container-width-small;
    border-bottom: 4px solid $blue-lighter;

    .title {
      font-size: $font-size-large;
      text-align: left;
      margin-bottom: 0px;
      margin-left: 30px;
      line-height: 1.4;

      @media #{$small-and-down} {
        font-size: $font-size-medium;
      }
    }
  }
}