.roadmap {

  .title,
  .paragraph {
    text-align: center;
  }

  &__timeline {
    display: flex;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;    
    align-items: flex-start;
    min-height: 100px;

    @media #{$large-and-down} {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media #{$medium-and-down} {
      padding-left: 0px;
      padding-right: 0px;
      flex-direction: column;      
      align-items: center;
    }

    @media #{$small-and-down} {
      margin-top: 70px;
    }
  }

  &__timeline-item {
    flex: 1;
    display: flex;
    align-items: center; 
    
    @media #{$medium-and-down} {
      width: 100%;
      justify-content: center;
    }

    i {      
      width: 8px;
      height: 8px;
      display: block;
      border-radius: 50%;
      background: $blue-lighter;
      border: 2px solid $black;

      @media #{$medium-and-down} {
        margin-left: 30px;
        margin-right: 30px;
      }
    }

    p,
    small {      
      left: 50%;
      width: 130px;
      position: absolute;      
      transform: translateX(-50%);

      @media #{$medium-and-down} {
        left: 0;
        position: relative;
        text-align: left;
        transform: none;
        flex: 1;
      }
    }

    div {
      position: relative;

      @media #{$medium-and-down} {
        top: 0;
        left: 50%;        
        display: flex;
        position: absolute;        
        align-items: flex-start;
        flex-direction: row-reverse;
        transform: translateX(-50%);
      }
    }

    p {
      top: 30px;
      color: $gray-lighter;
      font-size: $font-size-base;  
      
      @media #{$medium-and-down} {
        text-align: right;
      }

      @media #{$small-and-down} {
        top: 0;
      }
    }

    small {
      top: -40px;
      color: $gray-darker;
      font-size: $font-size-small;  
      
      @media #{$small-and-down} {
        top: 0;
      }
    }

    &:after {
      content: '';
      height: 2px;
      width: 100%;      
      display: block;      
      background: $blue-lighter;

      @media #{$medium-and-down} {
        width: 2px;
        height: 100px;
      }
    }

    &--is-progress {

      i {
        background: $blue-base;
        border: 2px solid $blue-base;
        box-shadow: 0 0 15px $blue-base;        
      }
    }

    &--is-complete {

      i {        
        background: $green-base;
      }

      &:after {
        background: $blue-base;
      }
    }

    &--is-last {
      flex: initial;

      &:after {
        display: none;
      }
    }
  }
}
