$science-offset: 100px;

.science {
  background-position: 50vw center;  

  .title {
    text-align: center;
  }

  .box--is-solid {
    margin-left: -50px;
  }

  &__diagram {    
    margin: $science-offset auto;
    text-align: center;

    @media #{$small-and-down} {
      margin-top: 70px;
      margin-bottom: 70px;
    }

    p {
      margin-top: 30px;
      color: $gray-lighter;
      font-size: $font-size-medium;

      span {
        display: inline-block;
        margin: 0 30px;
      }
    }
  }  
}