.whitepaper {
  padding-top: 80px;
  text-align: center;
  background-image: none;

  p {
    font-size: $font-size-small;
    margin-bottom: 10px;
  }

  i {
    flex: 1;      
    height: 2px;
    background: $blue-lighter;
  }

  .container {
    justify-content: center;
    flex-direction: column;
    display: flex;
  }

  .button {    
    margin-left: 10px;
    margin-right: 10px;

    img {
      width: 24px;
      margin-right: 10px;
    }
  }

  .latest-news {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .press {
    margin-bottom: 120px;
  }

  .follow-text {
    font-size: $font-size-h2;
    color: $gray-lighter;
    line-height: 1;
    font-weight: bold;

    @media #{$medium-and-up} {
      margin-left: 120px;
    }
  }

  .follow-link {
    font-size: $font-size-h3;
    color: $gray-darker;
    line-height: 1;

    @media #{$medium-and-up} {
      margin-left: 120px;
    }
  }

  .space-left-120 {
    margin-left: 120px;
  }

  .space-left-50 {
    margin-left: 50px;
  }

  .space-right-50 {
    margin-right: 50px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #100f1f;
    min-width: 160px;
    overflow: auto;

    @media #{$small-and-up} {
      width: 295px;
    }
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }

  .dropdown-content a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
  }

  .dropdown a:hover {
    text-decoration: underline;
  }

  .show {display:block;}
}