.whitepaper {
  padding-top: 80px;
  text-align: center;
  background-image: none;

  p {
    font-size: $font-size-small;
    margin-bottom: 10px;
  }

  i {
    flex: 1;      
    height: 2px;
    background: $blue-lighter;
  }

  .container {
    justify-content: center;
    flex-direction: column;
    display: flex;
  }

  .button {    
    margin-left: 10px;
    margin-right: 10px;

    img {
      width: 24px;
      margin-right: 10px;
    }
  }

  .latest-news {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .press {
    margin-bottom: 120px;
  }

  .follow-text {
    font-size: $font-size-h2;
    color: $gray-lighter;
    line-height: 1;
    font-weight: bold;

    @media #{$medium-and-up} {
      margin-left: 120px;
    }
  }

  .follow-link {
    font-size: $font-size-h3;
    color: $gray-darker;
    line-height: 1;

    @media #{$medium-and-up} {
      margin-left: 120px;
    }
  }

  .space-left-120 {
    margin-left: 120px;
  }

  .space-left-50 {
    margin-left: 50px;
  }

  .space-right-50 {
    margin-right: 50px;
  }
}