$white: #F4F4F4;

$black: #100F1F;
$black-lighter: #28263C;

$blue-base: #187CFB;
$blue-lighter: #124276;
$blue-darker: #112854;

$gray-darker: #47576C;
$gray-lighter: #B1B7C1;

$green-base: #6AC259;
