$container-width: 920px;
$container-width-small: 680px;
$container-width-large: 1240px;

$font-size-small: 14px;
$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-large: 24px;

$font-size-h1: 64px;
$font-size-h2: 54px;
$font-size-h3: 28px;